# Conditional Probability

# Import Library

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('student-mat.csv')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [2]:
len(df)

395

In [3]:
df['grade_A']=np.where(df['G3']*5>=80,1,0)

In [4]:
df['high_absenses']=np.where(df['absences']>=10,1,0)

In [5]:
df['count']=1

In [6]:
df=df[['grade_A','high_absenses','count']]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [7]:
pd.pivot_table(
    df,
    values='count',
    index=['grade_A'],
    columns=['high_absenses'],
    aggfunc=np.size,
    fill_value=0
)

high_absenses    0   1
grade_A
0              277  78
1               35   5

In [8]:
pA = (35 + 5) / (35 + 5 + 277 + 78)
print("P(A)= ",pA)
pB = (78 + 5) / (35 + 5 + 277 + 78)
print("P(B)= ",pB)
pAIrisanB = 5 / (35 + 5 + 277 + 78)
print("P(A âˆ© B)= " , pAIrisanB)
pAGivenB = pAIrisanB / pB
print("P(A|B)= " , pAGivenB)

P(A)=  0.10126582278481013
P(B)=  0.21012658227848102
P(A âˆ© B)=  0.012658227848101266
P(A|B)=  0.060240963855421686

## Kesimpulan pada percobaan diatas = 
Grade A, diambil dari nilai G3 yang nilainya diatas 80 dan akan bernilai 1. <br>High absen = ketidakhadiran tinggi (jika lebih dari 10 gak masuk maka akan masuk ke dalam hitungan High absenses), maka jika High Absense bernilai 1 maka siswa/orang tersebut sering gak hadir.

<br>P(A)=Siswa yang nilai Akhir diatas 80
<br>P(B)=Siswa yang meninggalkan kelas lebih dari 10 pertemuan
<br>P(A|B)=Siswa yang mendapatkan nilai akhir diatas 80 diketahui meninggalkan kelas lebih dari 10 pertemuan
<br><br>Maka Tabel diatas menunjukkan:
<br>1. siswa yang mempunyai nilai akhir A dan High absensenya Tinggi(tidak masuk kelas selama>=10 pertemuan / bernilai 1) hanya 5 orang.
<br>2. Siswa yang mempunyai nilai akhir A dan High Absen rendah(bernilai 0) ada 35 orang
<br>3. siswa yang tidak bernilai akhir A dan High Absen Tinggi(bernilai 1) ada 78 orang
<br>4. siswa yang tidak bernilai akhir A dan High Absen rendah(bernilai 0) ada 277 orang